<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>Book searcH</p>
      <%= form_tag(books_search_path,:method => 'get') do %>
          <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </section>

    <section class="col-md-6 col-md-offset-6">
  <%= form_for(@book, url: books_registrate_path) do |f| %>
        <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>


      <%= f.label :author%>
      <%= f.text_field :author, class: 'form-control' %>


      <%= f.label :publisher %>
      <%= f.text_field :publisher, class: 'form-control' %>

      <%= f.label :genre %>
      <%= f.text_field :genre, class: 'form-control' %>

      <%= f.submit "Registrate new booK!!", class: "btn btn-primary" %>
    <% end %>
  </section>

   
  </aside>


    
 
   

</div>